.wd-border {
    border-color: rgb(47, 51, 54);
    margin-left: 16px;
    margin-right: 12px;
}

.wd-search-field {
    color: white;
    background-color: darkgray;
    margin-right: 12px;
}

.wd-search-gear-block .wd-gear {
    color: rgb(29, 161, 242);
    border-bottom-color: rgb(29, 161, 242);
    font-size: 28px;
    float: right;

}

.wd-search-tab {
    color: rgb(110, 118, 125);
    margin-top: 15px;
    padding: 16px;
}

.wd-post-topic {
    color: rgb(110, 118, 125);
    font-size: 13px;
}