* {
    background-color: black;
    color: white;
}

.wd-section-line {
    border-top: 1px solid darkgray;
}

.wd-left-16{
    padding-left: 16px;
}

.wd-left-12 {
    padding-left: 12px;
}
.wd-left-76 {
    padding-left: 76px;
}

.wd-right-12 {
    padding-right: 12px;
}

.wd-top-12{
    padding-top: 12px;
}

.wd-icon-dots3 {
    height: 15px;
    right: 15px;
    position: absolute;
}
.wd-web-dev {
    font-size: 13px;
    color: lightgray;
}

.wd-pic-avatar {
    height: 48px;
    width:48px;
    border-radius: 80%;
    float: left;
    background-color: transparent;
}

.wd-c-handle {
    font-size: 15px;
    color: lightgray;
}

.wd-d {
    font-size: 15px;
    max-width: 506px;
}

.wd-pic-class {
    width: 504px;
    height: 264px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.wd-ef {
    border: 1px solid lightgray;
    border-radius: 30px;
    width: 504px;
}

.wd-f-content {
    color: lightgray;
    font-size: 12px;
}

.wd-f-title {
    font-size: 15px;
}

.wd-grid-row {
    clear: both;
}

.wd-icon-g {
    position: absolute;
    width: 20px;
    background-color: transparent;
    padding-left: 30px;
    vertical-align: top;
}

.flex-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.flex-child {
    /*<!--reference from stackoverflow-->*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: transparent;
}

.wd-g-text {
    font-size: 12px;
    color: lightgray;
    padding-left: 12px;
    /*vertical-align: top;*/
}
