.wd-bookmarks-title {
    font-size: 20px;
}
.wd-bookmarks-handle {
    font-size: 13px;
    color: lightgray;
    margin-bottom: 12px;
}
.wd-bookmarks-title-border-bottom {
    width: 598px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
}
.wd-bookmarks-border-bottom {
    max-width: 598px;
    border-bottom-style: solid;
}
.wd-bookmarks-post-avatar {
    float: left;
    margin-left: 16px;
}
.wd-bookmarks-post-right {
    float: left;
    margin-left: 12px;
}
.wd-bookmarks-post-avatar img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    overflow: hidden;
}
.wd-bookmarks-post-author {
    font-size: 15px;
}
.wd-bookmarks-post-main-content {
    font-size: 15px;
    max-width: 506px;
    margin-right: 16px;
    margin-bottom: 12px;
}
.wd-bookmarks-post-image-and-content {
    width: 504px;
    border-radius: 20px;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
}
.wd-bookmarks-post-image-and-content img{
    width: 504px;
    height: 264px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    border-width: 1px;
    border-color: lightgray;
    border-bottom-style: solid;
}
.wd-bookmarks-post-image-title-content {
    font-size: 15px;
    padding: 12px;
}
.wd-bookmarks-post-icon {
    width: 506px;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}
.wd-bookmarks-post-icon div{
    flex-basis: 25%;
    padding-bottom: 12px;
}
.wd-bookmarks-post-icon span {
    padding-left: 12px;
}
.wd-bookmarks-post-icon .wd-selected-icon {
    color: red;
}
.wd-bookmarks-post-icon .wd-large-icon {
    font-size: 12px;
}
.wd-bookmarks-post-icon a {
    text-decoration: none;
    color: lightgray;
}
